.nav-wrapper{
	background-color: #222;
}

.nav-content{
	background-color: #2a2a2a;
}

.header-link{
	font-size: 18px !important;
	letter-spacing: 0.2px;
}

body {
	background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
	color: #e4a317;
    font-family: "bebas_neueregular","Bebas Neue","Raleway",Arial,Helvetica,sans-serif;
    font-size: 46px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 5px;
    letter-spacing: 2.2px;
 }

 .military-font{
 	font-family: "bebas_neueregular","Bebas Neue","Raleway",Arial,Helvetica,sans-serif;
 }

.box-title{
	top: 10px;
}

/* Sign In */
.signin-box{
	margin: 30px auto;
	width: 60%;
	height: 800px;
	background-color: #2a2a2a;
	border-radius: 18px;
	text-align: center;
	padding: 1px;
}

.signin-form-div{
	margin: 0px 30px;
}

input{
	color: #fff;
}

#boas-vindas{
    display: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px !important;
}

#boas-vindas-nome{
    color: #e4a317;
}

#logout{
    height: 30px;
    line-height: 32px;
}